:root {
  --size0: 0.000rem; // 0px
  --size2: 0.125rem; // 2px
  --size4: 0.250rem; // 4px
  --size6: 0.375rem; // 6px
  --size8: 0.500rem; // 8px
  --size10: 0.625rem; // 10px
  --size12: 0.750rem; // 12px
  --size14: 0.875rem; // 14px
  --size16: 1.000rem; // 16px
  --size18: 1.125rem; // 18px
  --size20: 1.250rem; // 20px
  --size24: 1.500rem; // 24px
  --size28: 1.750rem; // 28px
  --size32: 2.000rem; // 32px
  --size40: 2.500rem; // 40px
  --size42: 2.625rem; // 48px
  --size48: 3.000rem; // 48px
  --size64: 4.000rem; // 64px
  --size68: 4.250rem; // 68px
  --size128: 8rem; // 128px
  --size256: 16rem; // 526px

  --sizeSmaller: var(--size20);
  --sizeSmall: var(--size24);
  --sizeRegular: var(--size32);
  --sizeMedium: var(--size42);
  --sizeLarge: var(--size48);
  --sizeLarger: var(--size64);
}

$sizes: (
    xs: 4,
    sm: 8,
    md: 16,
    lg: 32,
    xl: 64,
);

@each $name, $size in $sizes {
  .mt-#{$name} {
    margin-top: #{$size}px !important;
  }

  .ml-#{$name} {
    margin-left: #{$size}px !important;
  }

  .mr-#{$name} {
    margin-right: #{$size}px !important;
  }

  .mb-#{$name} {
    margin-bottom: #{$size}px !important;
  }

  .mx-#{$name} {
    margin-left: #{$size}px !important;
    margin-right: #{$size}px !important;
  }

  .my-#{$name} {
    margin-top: #{$size}px !important;
    margin-bottom: #{$size}px !important;
  }

  .gap-#{$name} {
    gap: #{$size}px !important;
  }
}
