.bg-success {
  background-color: var(--colorStatusSuccessBackground1) !important;
}

.bg-danger {
  background-color: var(--colorStatusDangerBackground1) !important;
}

.bg-warning {
  background-color: var(--colorStatusWarningBackground1) !important;
}

.bg-info {
  background-color: var(--themeNeutralAltBackground) !important;
}

.bg-neutral {
  background-color: var(--themeNeutralBackground) !important;
}

.bg-neutral-alt {
  background-color: var(--themeNeutralAltBackground) !important;
}

.bg-neutral-darken {
  background-color: var(--themeNeutralDarkenBackground) !important;
}

.bg-neutral-disabled {
  background-color: var(--themeDisabledBackground) !important;
}

.bg-neutral-light {
  background-color: var(--themeNeutralLightBackground) !important;
}

@each $name, $color in $colors {
  .bg-#{$color} {
    background-color: var(--colorPalette#{$name}Background2) !important;
  }
}
