.color-success {
  color: var(--colorStatusSuccessForeground1) !important;
}

.color-danger {
  color: var(--colorStatusDangerForeground1) !important;
}

.color-warning {
  color: var(--colorStatusWarningForeground1) !important;
}

.color-info {
  color: var(--themeInfoForeground) !important;
}

.color-disabled {
  color: var(--themeDisabledForeground) !important;
}

.color-neutral {
  color: var(--themeNeutralForeground) !important;
}

.color-neutral-alt {
  color: var(--themeNeutralAltForeground) !important;
}

.color-neutral-darken {
  color: var(--themeNeutralDarkenForeground) !important;
}

@each $name, $color in $colors {
  .color-#{$color} {
    color: var(--colorPalette#{$name}Foreground2) !important;
  }
}
