.color-success {
  color: var(--themeSuccessForeground) !important;
}

.color-danger {
  color: var(--themeDangerForeground) !important;
}

.color-warning {
  color: var(--themeWarningForeground) !important;
}

.color-info {
  color: var(--themeInfoForeground) !important;
}

.color-disabled {
  color: var(--themeDisabledForeground) !important;
}

.color-neutral {
  color: var(--themeNeutralForeground) !important;
}

.color-neutral-alt {
  color: var(--themeNeutralAltForeground) !important;
}

.color-neutral-darken {
  color: var(--themeNeutralDarkenForeground) !important;
}

@each $color in $colors {
  .color-#{$color} {
    color: var(--colorPalette#{$color}Foreground2) !important;
  }
}
