:root {
  // Background 1
  --themeNeutralLightBackground: #ffffff;
  --themeNeutralLightBackgroundHover: #f5f5f5;
  --themeNeutralLightBackgroundActive: #e0e0e0;
  --themeNeutralLightBackgroundFocus: #ebebeb;

  --themeNeutralLightBorder: #d1d1d1;
  --themeNeutralLightBorderHover: #c7c7c7;
  --themeNeutralLightBorderActive: #b3b3b3;
  --themeNeutralLightBorderFocus: #bdbdbd;
}

:root.dark {
  --themeNeutralLightBackground: #292929;
  --themeNeutralLightBackgroundHover: #3d3d3d;
  --themeNeutralLightBackgroundActive: #1f1f1f;
  --themeNeutralLightBackgroundFocus: #383838;

  --themeNeutralLightBorder: #c7c7c7;
  --themeNeutralLightBorderHover: #bdbdbd;
  --themeNeutralLightBorderActive: #a9a9a9;
  --themeNeutralLightBorderFocus: #b3b3b3;
}
