:root {
  // Background 4 / Stroke 1
  --themeNeutralAltBackground: #f0f0f0;
  --themeNeutralAltBackgroundHover: #fafafa;
  --themeNeutralAltBackgroundActive: #f5f5f5;
  --themeNeutralAltBackgroundFocus: #ffffff;

  --themeNeutralAltBorder: #d1d1d1;
  --themeNeutralAltBorderHover: #c7c7c7;
  --themeNeutralAltBorderActive: #b3b3b3;
  --themeNeutralAltBorderFocus: #bdbdbd;

  --themeNeutralAltForeground: #616161;
  --themeNeutralAltForegroundHover: #424242;
  --themeNeutralAltForegroundActive: #424242;
  --themeNeutralAltForegroundFocus: #424242;
}

:root.dark {
  --themeNeutralAltBackground: #141414;
  --themeNeutralAltBackgroundHover: #292929;
  --themeNeutralAltBackgroundActive: #0a0a0a;
  --themeNeutralAltBackgroundFocus: #242424;

  --themeNeutralAltBorder: #666666;
  --themeNeutralAltBorderHover: #757575;
  --themeNeutralAltBorderActive: #6b6b6b;
  --themeNeutralAltBorderFocus: #707070;

  --themeNeutralAltForeground: #adadad;
  --themeNeutralAltForegroundHover: #d6d6d6;
  --themeNeutralAltForegroundActive: #d6d6d6;
  --themeNeutralAltForegroundFocus: #d6d6d6;
}
